:root {
    --primary: #111111;
    --secondary: #111111c2;
    --ternary: darkgray;
    --main: #ff5353;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

.topbar {
    background-color: #fef7f6;
    padding: 1rem 0;
    letter-spacing: 0.03rem;
}

.topbar .left,
.topbar .right {
    font-family: 'Roboto-light';
    font-size: 0.8rem;
    color: var(--secondary);
    font-weight: lighter;
}

.topbar .left h4 {
    margin-right: 1rem;
}

.topbar .right .devider {
    padding: 0 0.75rem;
}

.topbar .right i,
.topbar .left i {
    margin-right: 0.3rem;
}

.topbar .right a {
    color: var(--secondary);
    transition: color .3s ease;
}

.topbar .right a:hover {
    color: var(--main);
}

.navbar {
    padding: 1.7rem 0;
}

.navbar a {
    color: var(--primary);
}

.navbar .logo h1 {
    font-family: 'Roboto-black';
    font-size: 1.8rem;
    margin-left: 0.4rem;
    letter-spacing: 0.02rem;
}

.navbar .logo h1 span {
    color: var(--main);
}

.navbar ul li a {
    font-family: 'Roboto-medium';
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
    padding: 0 1rem;
    font-weight: 500;
    transition: color .3s ease;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
    color: var(--main);
}

.navbar .navbar-right a {
    padding: 0 0.3rem;
    transition: color .4s ease;
    font-size: 1.1rem;
    color: #3c3636;
}

.navbar .navbar-right a:hover {
    color: var(--main);
}

.hero {
    background: url(../img/bg-1.jpg) no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 0;
}

.container-fluid {
    width: 100%;
}

.hero .hero-left {
    flex: 1;
}

.hero .hero-right {
    flex: 1;
}

.hero .hero-left .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero .hero-left .hero-content h5 {
    font-family: 'Roboto-light';
    color: var(--secondary);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.hero .hero-left .hero-content h1 {
    font-family: 'Roboto-regular';
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    font-weight: bold;
    padding-bottom: 2.5rem;
}

.btn-hero {
    background-color: var(--main);
    color: #fff;
    transition: background-color .3s ease;
}

.btn-hero:hover {
    background-color: #fff;
    color: var(--main);
}

.featured-product h1 {
    text-transform: uppercase;
    padding: 2rem 0;
    letter-spacing: 0.05rem;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Roboto-regular';
}

.featured-product .product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.product-item .product-img {
    position: relative;
    display: block;
    margin-bottom: 1rem;
}

.product-item .action-links a {
    color: var(--primary);
    padding: 1rem;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color .3s ease;
    cursor: pointer;
}

.product-item .action-links a:hover {
    background-color: var(--main);
    color: #fff;
}

.product-item .action-links {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity .4s ease;
}

.product-item:hover .action-links {
    opacity: 1;
}

.product-item .product-content {
    text-align: center;
}

.product-item .product-content h5 {
    font-family: 'Roboto-regular';
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    padding-bottom: 0.5rem;
}

.product-item .product-content .ratings {
    padding-bottom: 0.5rem;
    color: var(--main);
}

.product-item .product-content .price {
    font-family: 'Roboto-regular';
    font-weight: bold;
    font-size: 0.95rem;
}

.center-banner {
    margin: 2rem 0;
    background-color: #eae2d8;
}

.center-banner .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-banner .left h1 {
    font-family: 'Merienda';
    font-size: 4rem;
    color: var(--secondary);
    padding-bottom: 2rem;
}

.center-banner .left h2 {
    font-family: 'Roboto-regular';
    font-weight: 100;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.center-banner .right {
    flex: 1;
}

.popular-product h1 {
    font-size: 1.7rem;
    font-family: 'Roboto-regular';
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 2rem;
}

.popular-product .popular {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.services {
    padding: 3rem 0;
}

.services .services-provided {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.services .services-provided .service-item {
    text-align: center;
    padding: 1.5rem 0.5rem;
    box-shadow: 0 0 7px 0 #29232347;
    cursor: pointer;
    transition: transform .3s ease;
}

.services .services-provided .service-item:hover {
    transform: translateY(-0.5rem);
}

.services .services-provided .service-item img {
    max-width: 3rem;
    margin: 0 auto;
}

.services .services-provided .service-item h6 {
    font-family: 'Roboto-regular';
    font-size: 1rem;
    text-transform: uppercase;
    padding-top: 1.5rem;
    letter-spacing: 0.05rem;
}

.services .services-provided .service-item p {
    font-family: 'Roboto-regular';
    font-size: 0.85rem;
    padding-top: 0.5rem;
    letter-spacing: 0.03rem;
    text-transform: capitalize;
}

.trending-products {
    padding-bottom: 3rem;
}

.trending-products h1 {
    font-size: 1.7rem;
    font-family: 'Roboto-regular';
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 2rem;
}

.trending-products .trending {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.follow {
    padding-bottom: 3rem;
}

.follow h1 {
    font-size: 1.7rem;
    font-family: 'Roboto-regular';
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 2rem;
}

.follow .follow-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.follow .follow-row .product-img {
    position: relative;
}

.follow .follow-row .product-img .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: var(--main);
}

.follow .follow-row .product-img:hover .overlay {
    opacity: 0.5;
}

.follow .follow-row .product-img .action-links {
    transform: translate(-0%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow .follow-row .product-img .action-links a {
    color: var(--primary);
    padding: 2rem;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: background-color .3s ease;
}

.follow .follow-row .product-img .action-links a:hover {
    background-color: var(--secondary);
    color: #fff;
}

.footer {
    background-color: #eae2d8;
}

.footer .inner-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-gap: 2rem;
    padding: 3rem 0;
}

.footer .inner-footer h3 {
    font-family: 'Roboto-regular';
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    padding-bottom: 2rem;
}

.footer .inner-footer p {
    padding: 0.3rem 0;
}

.footer .inner-footer p a {
    font-family: 'Roboto-light';
    color: var(--secondary);
    font-weight: 600;
    letter-spacing: 0.03rem;
    font-size: 0.88rem;
    transition: color .3s ease;
}

.footer .inner-footer p a:hover {
    color: var(--main);
}

.footer .inner-footer .app .btn {
    padding: .8rem 1rem !important;
    text-align: left;
    margin-right: 1rem;
}

.footer .inner-footer .app .btn .fa-android {
    color: var(--main);
}

.footer .inner-footer .app .fa {
    margin-right: 1rem;
}

.footer .inner-footer .app .app-buttons .btn .button-text .up {
    font-size: 0.8rem;
    font-family: 'Roboto-light';
}

.footer .inner-footer .app .app-buttons .btn .button-text .down {
    font-weight: bold;
    font-family: 'Roboto-regular';
}

.footer-hr {
    margin: 1rem 0;
    border: 1px solid var(--main);
}

.footer .inner-footer .app .footer-social i {
    background-color: #fff;
    padding: 1rem;
    height: 40px;
    width: 40px;
    justify-content: center;
    cursor: pointer;
    transition: background-color .3s;
}

.footer .inner-footer .app .footer-social i:hover {
    color: #fff;
    background-color: var(--main);
}

.footer .inner-footer .app .footer-social .footer-social-icons {
    margin-top: -1rem;
}

.footer-copyright {
    padding: 1rem 0;
    font-family: 'Roboto-light';
    text-align: center;
    font-size: .8rem;
    letter-spacing: 0.05rem;
    text-transform: capitalize;
}

.main-color {
    color: var(--main);
}

#loader {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #50494bcf;
    z-index: 10;
}

#loader img {
    height: 100px !important;
    width: 100px !important;
    transition: -webkit-animation 1s ease;
    transition: animation 1s ease;
    transition: animation 1s ease, -webkit-animation 1s ease;
    -webkit-animation: UpDown 1s infinite;
    animation: UpDown 1s infinite;
}

#loader h6 {
    font-family: 'Roboto-medium';
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    padding-top: 0.5rem;
    color: #fff;
}

@-webkit-keyframes UpDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes UpDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.contact-us {
    padding: 2rem 0;
}

.contact-us h1 {
    font-family: 'Roboto-medium';
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2rem;
}

.contact-us .contact-section {
    width: 80%;
    margin: 0 auto;
}

.contact-us .contact-section .left,
.contact-us .contact-section .right {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-us .contact-section .left .contact-form {
    flex-direction: column;
    width: 100%;
}

.custom-input:focus,
.custom-textarea:focus {
    box-shadow: 0 0 10px -3px var(--main);
    outline: none;
    border-color: var(--main);
}

.contact-us .contact-section .left .contact-form label {
    font-family: 'Roboto-medium';
    font-size: 1rem;
    padding-bottom: 0.3rem;
    padding-left: 0.2rem;
}

.custom-textarea {
    font-family: 'Roboto-regular';
    font-size: 1rem;
    border-radius: 5px;
    height: 4.5rem;
    width: 100%;
    min-width: 250px;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid lightgray;
}

.contact-us .contact-section .left .contact-form .contact-button {
    text-align: center;
}

.contact-us .contact-section .right {
    margin: 0 2rem;
    text-align: center;
}

.contact-us .contact-section .right h2 {
    font-family: 'Roboto-regular';
    font-size: 2rem;
    padding-bottom: 1rem;
    letter-spacing: 0.07rem;
}

.contact-us .contact-section .right p {
    font-family: 'Roboto-light';
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    padding: 0.3rem 0;
    color: var(--secondary);
}

.blogs {
    padding: 2rem 0;
}

.blogs h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Roboto-regular';
}

.blogs .blog-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding-bottom: 2rem;
}

.blogs .blog-row .blog-item p {
    font-family: 'Roboto-regular';
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    color: var(--secondary);
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    position: relative;
    padding-left: 1.5rem;
}

.blogs .blog-row .blog-item p:before {
    content: '';
    position: absolute;
    top: 67%;
    border-radius: 3px;
    width: 15px;
    height: 6px;
    background-color: var(--main);
    left: 0px;
    bottom: 0;
    right: 0;
}

.blogs .blog-row .blog-item h3 {
    font-family: 'Roboto-regular';
    font-size: 1.1rem;
    text-transform: capitalize;
    cursor: pointer;
}

.blogs .blog-row .blog-item hr {
    margin: 0.7rem 0;
}

.blogs .blog-row .blog-item .comments {
    color: var(--secondary);
    font-family: 'Roboto-light';
    font-size: 0.8rem;
    font-weight: 600;
}

.blogs .blog-row .blog-item .comments i {
    padding-right: 0.5rem;
}

.view-product {
    padding: 2rem 0;
}

.view-product .info-graph {
    padding-bottom: 1.5rem;
    font-family: 'Roboto-light';
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: var(--secondary);
    cursor: pointer;
}

.view-product .info-graph span {
    color: var(--main);
    font-weight: bolder;
    font-size: 0.8rem;
}

.view-product .view-product-items {
    display: grid;
    grid-template-columns: 38% 62%;
}

.view-product .view-product-items .left {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
}

.view-product .view-product-items .left .view-product-img-left {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.view-product .view-product-items .left .view-product-img-left img:nth-child(1) {
    border: 1px solid var(--secondary);
}

.view-product .view-product-items .left .view-product-img-left img {
    cursor: pointer;
}

.view-product .view-product-items .left .view-product-img-right img {
    height: 100%;
    cursor: pointer;
}

.view-product .view-product-items .right h1 {
    font-family: 'Roboto-medium';
    font-size: 2rem;
    letter-spacing: 0.05rem;
}

.view-product .view-product-items .right .trendy-wear {
    font-family: 'Roboto-regular';
    color: darkgray;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.view-product .view-product-items .right .price {
    padding-bottom: 1.4rem;
}

.view-product .view-product-items .right .price h2 {
    font-family: 'Roboto-regular';
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.view-product .view-product-items .right .price p {
    font-family: 'Roboto-regular';
    color: green;
    font-size: 0.8rem;
    font-weight: bold;
}

.view-product .view-product-items .right h3,
.view-product .view-product-items .right .delivery-options {
    font-family: 'Roboto-regular';
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding-bottom: 1rem;
}

.view-product .view-product-items .right .size a {
    padding: 1rem;
    border: 1px solid lightgray;
    cursor: pointer;
    font-family: 'Roboto-regular';
    font-size: 0.8rem;
    color: #000;
    font-weight: bold;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-right: 0.5rem;
    transition: background-color .4s ease;
}

.view-product .view-product-items .right .size a:hover {
    background-color: var(--main);
    color: #fff;
}

.active-size {
    background-color: var(--main);
    color: #fff !important;
}

.view-product .view-product-items .right .size {
    padding-bottom: 2rem;
}

.view-product .view-product-items .right .view-buttons {
    padding-bottom: 1.5rem;
}

.view-product .view-product-items .right .pincode {
    padding-bottom: 0.5rem;
}

.view-product .view-product-items .right .delivery-info {
    font-family: 'Roboto-regular';
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--secondary);
}

.view-product .view-product-items .right {
    margin-left: 2rem;
}

.view-product .view-product-items .right .view-iteam-ratings {
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    color: var(--main);
}

.similar-product-h1 {
    font-size: 1.1rem !important;
    text-transform: uppercase !important;
    letter-spacing: 0.03rem !important;
    position: relative !important;
    z-index: 1 !important;
    padding: 1rem 0 !important;
    text-align: left !important;
    font-family: 'Roboto-regular';
}

.checkout-cart {
    padding: 2rem 0;
    display: none;
}

.checkout-cart .checkout-cart-details {
    display: grid;
    grid-template-columns: 60% 40%;
    font-family: 'Roboto-regular';
    padding: 0 5rem;
}

.checkout-cart .checkout-cart-details .left {
    padding: 0 1rem;
}

.checkout-cart .checkout-cart-details .left .available-offers .available-offer-header {
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding-bottom: 0.7rem;
}

.checkout-cart .checkout-cart-details .left .available-offers {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1rem;
}

.checkout-cart .checkout-cart-details .left .available-offers ul li {
    list-style: disc;
    font-size: 0.8rem;
    margin-left: 1.1rem;
    color: var(--secondary);
    margin-top: 0.5rem;
    letter-spacing: 0.01rem;
}

.checkout-cart .checkout-cart-details .left .free-delivery {
    font-size: 0.83rem;
    letter-spacing: 0.03rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.6rem;
    margin: 0.8rem 0;
}

.checkout-cart .checkout-cart-details .left .free-delivery span {
    font-weight: bold;
    padding: 0 0.2rem;
}

.checkout-cart .checkout-cart-details .left .shopping-cart-total {
    padding: 1rem;
    letter-spacing: 0.05rem;
}

.checkout-cart .checkout-cart-details .left .cart-items {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 18% 82%;
    margin-top: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 05px;
    padding: 1rem;
    margin-bottom: 0.85rem;
}

.checkout-cart .checkout-cart-details .left .cart-items .product-details {
    padding-right: 1rem;
}

.checkout-cart .checkout-cart-details .left .cart-items .product-details .name h5 {
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    padding-bottom: 0.3rem;
}

.checkout-cart .checkout-cart-details .left .cart-items .product-details .name h6 {
    font-size: 0.85rem;
    letter-spacing: 0.01rem;
    font-weight: 500;
    padding-bottom: 0.2rem;
}

.checkout-cart .checkout-cart-details .left .cart-items .product-details .name p {
    font-size: 0.65rem;
    letter-spacing: 0.01rem;
    color: var(--secondary);
}

.checkout-cart .checkout-cart-details .left .cart-items .product-details .price {
    font-size: 0.85rem;
}

.checkout-cart .checkout-cart-details .left .cart-items a {
    color: var(--main);
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05rem;
}

.checkout-cart .checkout-cart-details .left .cart-items .remove {
    border-right: 1px solid lightgray;
    text-align: center;
}

.checkout-cart .checkout-cart-details .left .cart-items .product-details .name .cart-select {
    padding-top: 1rem;
}

.checkout-cart .checkout-cart-details .left .cart-items .product-details .name .cart-select select {
    padding: 0.2rem 0.3rem;
    font-family: 'Roboto-regular';
    border-radius: 05px;
    margin-top: 0.2rem;
    margin-right: 0.8rem;
    outline: none;
}

.checkout-cart .checkout-cart-details .left .cart-items .product-details .name .cart-select label {
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
}

.checkout-cart .checkout-cart-details .right {
    padding: 0 2rem;
}

.checkout-cart .checkout-cart-details .right h5 {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    padding-bottom: 1rem;
}

.checkout-cart .checkout-cart-details .right .apply-coupons h6 {
    font-size: 0.85rem;
    letter-spacing: 0.02rem;
}

.checkout-cart .checkout-cart-details .right .apply-coupons .btn-coupon-apply {
    padding: 0.3rem 0.7rem;
    background: transparent;
    border: 1px solid var(--main);
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Roboto-regular';
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    color: var(--main);
    cursor: pointer;
    outline: none;
}

.checkout-cart .checkout-cart-details .right .login-for {
    font-size: 0.85rem;
    text-align: center;
    padding-top: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1.2rem;
    margin-bottom: 4rem;
}

.checkout-cart .checkout-cart-details .right p a {
    color: var(--main);
}

.delivery-charge {
    text-decoration: line-through;
}

.hr {
    border-bottom: 1px solid lightgray;
    margin: 1rem 0 !important;
}

.free-text {
    color: green;
    font-size: 0.75rem;
    font-weight: bold;
}

.right .price-details p {
    font-size: 0.84rem;
    letter-spacing: 0.02rem;
    margin: 0.5rem 0;
}

.right .price-details a {
    font-size: 0.84rem;
    letter-spacing: 0.04rem;
    font-weight: bold;
    color: var(--main);
}

.empty-cart {
    padding: 3rem 0;
    display: none;
}

.empty-cart .empty-cart-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-regular';
}

.empty-cart .empty-cart-details img {
    height: 250px;
    width: 250px;
    padding-bottom: 2rem;
}

.empty-cart .empty-cart-details h1 {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.empty-cart .empty-cart-details p {
    font-size: 0.85rem;
    letter-spacing: 0.02rem;
    color: var(--secondary);
    padding: 0.3rem 0;
}

.empty-cart .empty-cart-details a,
.order-details .order-details-info .upper-info a {
    font-family: 'Roboto-regular';
    font-size: 0.8rem;
    padding: 0.8rem 2.5rem;
    margin: 1rem;
    border: 1px solid var(--main);
    border-radius: 5px;
    color: var(--main);
    font-weight: bold;
    letter-spacing: 0.05rem;
    transition: background-color .4s ease;
}

.empty-cart .empty-cart-details a:hover,
.order-details .order-details-info .upper-info a:hover {
    color: #fff;
    background-color: var(--main);
}

.checkout-cart .checkout-cart-details .left .cart-items .product-img img {
    height: 100%;
}

.heart-blast {
    background-position: -2800px 0;
    transition: background 1s steps(28);
}

header .container .navbar-right .search a:hover+.search-input {
    opacity: 1;
}

.search-input {
    border: 1px solid var(--main);
    border-radius: 20px;
    outline: none;
    padding: 0.4rem 0.5rem;
    opacity: 0;
    max-width: 200px;
    transition: .4s ease;
    transition-property: opacity, width;
}

.user {
    display: none;
}

.login {
    padding: 2rem 0;
}

.login .login-form {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 65vh;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 5rem;
    box-shadow: 0 4px 7px 0px grey;
}

.login .login-form .right {
    overflow: hidden;
}

.login .login-form .right .right-banner {
    height: 100%;
    width: 100%;
}

.login .login-form .right .right-banner img:hover {
    transform: scale(1.2);
    transition: transform .4s ease-in-out;
}

.login .login-form .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .login-form .left .login-data {
    width: 65%;
    height: auto;
    font-family: 'Roboto-regular';
}

.login .login-form .left .login-data label,
.login .login-form .left .login-data a {
    font-size: 0.85rem;
    font-weight: 600;
}

.login .login-form .left .login-data a {
    color: var(--main);
}

.login .login-form .left .login-data .custom-input {
    margin-top: 0.3rem;
    font-size: 0.85rem;
}

.login .login-form .left .login-data .btn-hero:hover {
    background-color: var(--main);
    color: #fff;
}

.login .login-form .left .login-data .btn-hero {
    padding: 0.8rem 2rem;
}

.login .login-form .left .login-data .sign-up {
    padding: 2rem 0;
    text-align: center;
}

.logout-div {
    display: none;
}

.user-avtar {
    display: none;
}

.order {
    padding: 1rem 0;
}

.order .order-items {
    display: grid;
    grid-template-columns: 65% 35%;
    font-family: 'Roboto-regular';
}

.order .order-items label {
    font-size: 0.85rem;
    letter-spacing: 0.01rem;
    font-weight: normal;
}

.order .order-items .full-name div,
.order .order-items .mob-email div,
.order .order-items .state-country div,
.order .order-items .city-pin div,
.order .order-items .card-details div {
    flex: 1;
    margin-right: 1.5rem;
}

.order .order-items .address {
    margin-right: 1.5rem;
}

.order .order-items .address textarea {
    height: 4rem;
    padding: 0.5rem;
}

.order .order-items h3 {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    border-bottom: 2px solid var(--main);
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
    font-size: 1rem;
}

.order .order-items input,
.order .order-items textarea,
.order .order-items select {
    margin-top: 0.3rem;
    font-size: 0.85rem;
}

.order .order-items .card-details input {
    min-width: auto;
}

.order .order-items .right {
    margin-right: 2rem;
}

.order-details {
    padding: 2rem 0;
}

.order-details .order-details-info .upper-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-regular';
}

.order-details .order-details-info .upper-info h1 {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    text-align: center;
    font-weight: 600;
    color: green;
    text-transform: capitalize;
}

.order-details .order-details-info .upper-info p {
    padding: 0.5rem 1rem;
    text-align: center;
}

.order-details .order-details-info .summary .summary-details {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Roboto-regular';
}

.order-details .order-details-info .summary .summary-details .summary-section div {
    flex: 1;
}

.order-details .order-details-info .summary .summary-details h3 {
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.order-details .order-details-info .summary .summary-details .left,
.order-details .order-details-info .summary .summary-details .right {
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: 7px;
    margin: 1rem;
}

.order-details .order-details-info .summary .summary-details .summary-section p {
    font-size: 0.85rem;
    margin: 0.4rem 0;
    font-weight: normal;
}

.order-details .order-details-info .summary .summary-details .right p {
    font-size: 0.85rem;
    margin: 0.4rem 0;
    font-weight: normal;
}

.order-details .order-details-info .summary {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.order-details .order-details-info .order-confirm-items {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.order-details .order-details-info .order-confirm-items .order-confirm-item {
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
}

.order-details .order-details-info .order-confirm-items .order-confirm-item img {
    width: 150px;
}

.order-details .order-details-info .order-confirm-items .order-confirm-item .right {
    font-family: 'Roboto-regular';
    margin-left: 1rem;
}

.order-details .order-details-info .order-confirm-items .order-confirm-item .right h4 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.order-details .order-details-info .order-confirm-items .order-confirm-item .right h6 {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.order-header {
    display: flex;
    justify-content: center;
}

.order-header h1,
.no-order-details {
    font-family: 'Roboto-regular';
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    border-bottom: 2px solid var(--main);
    display: inline-block;
    margin-bottom: 2rem;
    line-height: 1.8rem;
}

.ordered-details {
    padding: 2rem 0;
}

.ordered-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ordered-items .ordered-item img {
    width: 230px;
    height: 200px;
}

.ordered-items .ordered-item .right {
    margin: 2rem;
}

.ordered-items .ordered-item .right h4 {
    font-family: 'Roboto-regular';
    font-size: 1.3rem;
    letter-spacing: 0.04rem;
    padding-bottom: 1rem;
}

.ordered-items .ordered-item .right h6 {
    font-family: 'Roboto-regular';
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
    padding-bottom: 0.5rem;
    font-weight: normal;
}

.ordered-items .ordered-item {
    box-shadow: 0 0 05px 2px lightgray;
    margin: 1rem;
    cursor: pointer;
    transition: transform .4s ease;
}

.ordered-items .ordered-item:hover {
    transform: translateY(-0.2rem);
}

.no-order-details {
    font-size: 1rem !important;
}